# Core libraries
openai

jinja2

# Local embeddings & vector search

faiss-cpu
numpy
pydantic_settings
python-dotenv
langchain-text-splitters

pymupdf
azure-core
azure-search-documents
tiktoken
# pytest
# Optional: Voice


setuptools
